<div class="post">
<img src="http://localhost:4300/{{ post.lienImage}}" alt="">
    <div class="info-post">
        <div class="profil">
            <div class="pdp">
            <img src="http://localhost:4300/{{ post.lienAvatar }}" alt="">
            </div>
        <p>{{ post.nomUtilisateur }}</p>
            <span>---- {{ post.titre }} ----</span>
        </div>
        <div class="contener-comments">
            <ul>
                <li class="like"></li>
                <li class="comment"></li>
            </ul>
        </div>
    </div>
</div>