<div class="login-container">
    <div class="left">
        <div class="container-left">
            <div>
                <h1>join the largest art communit in the world</h1>
                <p>Get free access to 370 million pieces of art. Showcase, promote, sell & share your work with over 61 million members.</p>
            </div>
        </div>
    </div>
    <div class="right">
       <div class="close">
           <button>&times;</button>
       </div>
       <div class="right-content">      
            <div>
                <h2>Join DeviantArt</h2>
                <p>Already a Deviant?. <a href="">Log in</a></p>
            </div>
            <form>    
                <div class="input-div">
                    <label for="username">Pick a username</label>
                    <input type="text" id="username">
                </div>
                <div class="input-div">
                    <label for="username">Add your email</label>
                    <input type="email" id="username">
                </div>
                <div class="input-div">
                    <label for="username">Confirm your email</label>
                    <input type="email" id="username">
                </div>
                <div class="input-div">
                    <label for="username">Choose a password</label>
                    <input type="password" id="username">
                </div>
                <div class="join">
                    <button>Join</button><br>
                </div>
            </form>
            <div>
                By clicking Log in, I confirm that I habe read and agree to the DeviantArt <a href="">Terms of service</a>, <a href="">Privacy Policy</a>, and to receive emails and updates.
            </div>
       </div>
    </div>
</div>