<div class="profil-detail">
    <div class="interaction">
        <ul>
            <li>{{nbrComments}} Comments</li>
            <li>{{ vues }} Views</li>
        </ul>
    </div>
    <div class="cube">
        <ul>
            <li><a href="">Angel</a></li>
            <li><a href="">Dark</a></li>
            <li><a href="">digital</a></li>
            <li><a href="">fantasy</a></li>
            <li><a href="">god</a></li>
            <li><a href="">magic</a></li>
        </ul>
    </div>
    <div class="description">
        <p>Freya, Shaper of Blood. Another illustration made for #godhunt I experimented a lot with 3d for this one! It was really fun and challenging. </p>
    </div>
</div>
